# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv/
venv/
ENV/

# Poetry
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/
logs/
dist/
build/
system_data.db
.ruff_cache/

# OS specific
.DS_Store
Thumbs.db