altgraph==0.17.4 ; python_version >= "3.12" and python_version < "3.14"
customtkinter==5.2.2 ; python_version >= "3.12" and python_version < "3.14"
darkdetect==0.8.0 ; python_version >= "3.12" and python_version < "3.14"
macholib==1.16.3 ; python_version >= "3.12" and python_version < "3.14" and sys_platform == "darwin"
packaging==24.2 ; python_version >= "3.12" and python_version < "3.14"
pefile==2023.2.7 ; python_version >= "3.12" and python_version < "3.14" and sys_platform == "win32"
psutil==6.1.1 ; python_version >= "3.12" and python_version < "3.14"
pyinstaller-hooks-contrib==2024.11 ; python_version >= "3.12" and python_version < "3.14"
pyinstaller==6.11.1 ; python_version >= "3.12" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and python_version < "3.14" and sys_platform == "win32"
ruff==0.8.6 ; python_version >= "3.12" and python_version < "3.14"
setuptools==75.8.0 ; python_version >= "3.12" and python_version < "3.14"
